#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Aikisado
GenericName=Aikisado
Comment=Tribute to Kamisado by Burley Games
Exec=aikisado
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/aikisado.png
Categories=Game;BoardGame;
StartupNotify=false
